        
            </div>
            <footer id="footer"> 
                    
                    <p class="text-white small mb-10 mx-auto">© 2019 Jan Venulet</p>
                    <p class="text-white small mb-10 mx-auto"> </p>
                <!-- <div class="navbar navbar-default">
                    <div class="container bg-primary text-white col-md-12"> -->
                    <!-- <label> Kontakt: 
                        <p class="text-white small mb-10 mx-auto"><a href="mailto:biuro@dbproject.pl">biuro@dbproject.pl</a></p>
                    </label> -->
                    <!-- <p class="text-white small mb-10 mx-auto"> </p>
                    <p class="text-white small mb-10 mx-auto">© 2019 Jan Venulet</p>
                    <p class="text-white small mb-10 mx-auto"> </p>
                    </div>
                </div> -->
            </footer>
        </div>
    </body>
</html>