<% include partials/header.ejs %>
    <!-- <div class="container">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %> 
            </div>
        <% } %>
        <% if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>
        <% } %>
    </div> -->
        <div id="landing-header">
            <% if (!currentUser) { %>
            <h1>Welcome to E-journal!</h1>
            <a href="/login" class="btn btn-lg btn-success">Sign in</a>
            <% } else { %>
                <h1>Write down your best journey's memories!</h1>
                <a href="/trips" class="btn btn-lg btn-success">See your trips</a>
            <% } %>
        </div>
        <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        </ul>
        
        
<% include partials/footer.ejs %>