body {
    background-image: linear-gradient(wheat,#428bca,wheat);
    padding-top: 60px;
  }
  @media (max-width: 979px) {
    body {
      padding-top: 0px;
    }
  }

#page-container {
position: relative;
min-height: 100vh;
}

#content-wrap {
padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
position: absolute;
bottom: 0;
width: 100%;
height: 2.5rem;            /* Footer height */
background-color: #428bca;
color: aliceblue;
}

.days .glyphicon::before {
  margin-left: 0.6em;
}

.inline-form{
  display:inline-block;
}

.trip-box .inline-form{
  display:inline-block;
  padding-bottom: 2rem;
}

.trip-box a{
  color: #333;
}

.trip-box a:hover{
  color: #222;
}

.days .inline-form button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

#map {
  height: 400px;
  width: 100%;
  margin: 2rem 0;
}

.img-thumbnail {
  background-color: #428bca;
  padding: 2%;
}

.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}

.go-back-btn{
  color: #333;
}

.go-back-btn:hover{
  color: #222;
}

.quick-menu > *{
  margin: 0.5em;
}

.quick-menu {
  margin: 1.5em 0 3.5em 0;
}

/* .img-responsive{
  overflow:hidden;
  max-height: 15vw;
}

.safsa{
    width:100%;
    height: 25vw;
} */