<% include ../partials/header.ejs %>
<div class="container">
        <% if (typeof error != 'undefined') { %>
            <div class="alert alert-danger" role="alert">
                    <%= error %>
            </div>
            <% } %>
    <div class="row">    
        <h2 class="text-center" style="margin-top: 2.5em;">Add new trip to your journal</h2>
        <div class="col-md-4 col-sm-6 col-xs-10 col-md-offset-4 col-xs-offset-1">
            <form action="/trips" method="post" enctype="multipart/form-data">
                <div class="form-group">
                        <input class="form-control" type="text" name="title" placeholder="Trip's title" required>
                </div> 
                <div class="form-group">
                        <!-- <input class="form-control"  type="text" name="description" placeholder="description" rows="3"> -->
                        <textarea class="form-control" aria-label="With textarea" name="description" rows="5" placeholder="Trip's general description" required></textarea>
                </div>
                <div class="form-group">
                            <label class="custom-file-label" for="avatar">Choose main journey photo: </label>
                            <input class="custom-file-input" type="file" name="avatar" accept="image/*" required>
                </div> 
                <div class="form-group">                     
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit! </button>
                </div>
            </form>
            <a class="go-back-btn" href="javascript:history.back()">Go back</a>
        </div>
    </div>   
</div>

<% include ../partials/footer.ejs %>